{% extends "kvmvdi/base.html" %}
{% load staticfiles %}
{% block content %}
		{% if user.is_authenticated %}

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-title">
                        <h4>VMs list </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="display nowrap table table-hover table-striped table-bordered" id="list_vm" width="100%">
                                <thead>
                                    <tr align="center">
                                        <th>Project</th>
                                        <th>Host</th>
                                        <th>Name</th>
                                        <th>Image Name</th>
                                        <th>IP Address</th>
                                        <th>Flavor</th>
                                        <th>Status</th>
                                        <th>Task</th>
                                        <th>Time since created</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody align="center">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <div class="year-calendar"></div>
                </div>
              </div>
          </div>

          <div class="col-lg-8">
                <div class="card">
                    <div class="card-title">
                        <h4>Lịch sử </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive m-t-40">
                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th width="10%">ID</th>
                                        <th width="35%">Tiêu đề</th>
                                        <th width="20%">Chủ đề</th>
                                        <th width="10%">Người gửi</th>
                                        <th width="10%">Trạng thái</th>
                                        <th width="15%">Ngày hết hạn</th>
                                    </tr>
                                </thead>

                                <tbody id="list_tk_h istory">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
          </div>

        </div>

		{% endif %}
{% endblock content %}

{% block js %}
{% endblock %}