<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/lib/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
        {% block lib %}{% endblock %}
    <link href="{% static 'css/helper.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

<![endif]-->

</head>

<body class="mini-sidebar fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header" >
                    <a class="navbar-brand" href="{% url 'agent:home_leader' %}">
                        <span><img src="{% static 'images/meditech.png' %}" alt="homepage" style="width:260px;height:40px;"></span>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <!-- Messages -->
                        <!-- End Messages -->
                    </ul>
                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- End Comment -->
                        <!-- Messages -->
                        <li class="nav-item dropdown chat_">
                            <a class="nav-link dropdown-toggle text-muted" onclick="chatFunction()"  id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope"></i>
								<div class="notify chat_noti"> </div>
							</a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn" aria-labelledby="2">
                                <ul>
                                    <li>
                                        <div class="drop-title chat_msg"></div>
                                    </li>
                                    <li>
                                        <div class="message-center notification_chat">
                                            <!-- Message -->

                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="javascript:void(0);"> <strong>Xem tất cả</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Messages -->
                        <!-- Profile -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static 'images/avatar.png' %}" alt="user" class="profile-pic" /></a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    <li><a href="{% url 'agent:leader_profile' %}"><i class="ti-user"></i> Thông tin</a></li>
                                    <li><a href="{% url 'agent:logout_leader' %}"><i class="fa fa-power-off"></i> Đăng xuất</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                    	<li class="nav-label">Quản trị viên</li>
                        <li><a href="{% url 'agent:home_leader' %}"><i class="fa fa-ticket"></i> Quản lý yêu cầu </a></li>
                        <li><a href="{% url 'agent:leader_manage_agent' %}"><i class="fa fa fa-user-secret"></i> Quản lý nhân viên </a></li>
                        <li><a href="{% url 'agent:leader_to_agent' %}"><i class="fa fa-exchange"></i> Chế độ nhân viên xử lý </a></li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        {% block content %}{% endblock %}
        
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="{% static 'js/lib/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'js/lib/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'js/lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <!--stickey kit -->
    <script src="{% static 'js/lib/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/lib/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'js/ColReorderWithResize.js' %}"></script>
    
    <script src="{% static 'js/jquery.easy-autocomplete.js' %}"></script>
    <script src="{% static 'js/jquery.easy-autocomplete.min.js' %}"></script>
    <!-- CSS file -->
    <link href="{% static 'css/easy-autocomplete.css' %}" rel="stylesheet">
    <link href="{% static 'css/easy-autocomplete.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/easy-autocomplete.themes.css' %}" rel="stylesheet">
    <link href="{% static 'css/easy-autocomplete.themes.min.css' %}" rel="stylesheet">

    <audio id="myAudio">
        <source src="{% static 'ping.mp3' %}" type="audio/mpeg">
    </audio>
<script>
    var agentName = {{ agent_name }};
    var group_agent_Socket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/agent/'+agentName+'+group_agent_Socket/');

    var options = {
        url: "/agent/leader/data",

        getValue: "fullname",
        template: {
            type: "description",
            fields: {
                description: "username"
            }
        },
        
        list: {
            match: {
                enabled: true
            },
            onSelectItemEvent: function() {
                var selectedItemValue = $("#search").getSelectedItemData().username;
                $("input[name=username_leader]").val("");
                $("input[name=username_leader]").val(selectedItemValue);
            }
        },
        theme: "square"
    };
    $("#search").easyAutocomplete(options);

    function formatAMPM(date) {
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var strTime = hours + ':' + minutes + ' ' + ampm + ' ' +date.getDate()+'/'+date.getMonth()+'/'+date.getFullYear();
        return strTime;
    }

    function countdowntime(){
        $('body .downtime').each(function(){
            var tkid = $(this).attr('id').split('-')[1];
            var dateend = $('body #dateend'+tkid).html();
            var time = dateend.split(',')[2];
            if (time.includes('p.m.')){
                if (time.includes(':')){
                    var endtime = parseInt(time.split(':')[0]) + 12;
                    if (endtime < 24){
                        var endtime1 = endtime.toString()+':'+time.split(' ')[1].split(':')[1]+':00';
                    }else{
                        var endtime1 = '00:'+time.split(' ')[1].split(':')[1]+':00';
                    }
                }else{
                    var endtime = parseInt(time.split(' ')[1]) + 12;
                    if (endtime < 24){
                        var endtime1 = endtime.toString()+':00:00';
                    }else{
                        var endtime1 = '00:00:00';
                    }
                }
            }else if(time.includes('a.m.')){
                if (time.split(':')[0].includes('12')){
                    var endtime1 = '00:'+time.split(':')[1].split(' ')[0]+':00';
                }else{
                    var endtime1 = time.split(' ')[1]+':00';
                }
            }else if (time.includes('midnight')){
                var endtime1 = '00:00:00';
            }
            var dateend1 = dateend.split(',')[0]+', '+dateend.split(',')[1]+' '+endtime1;
            var countDownDate = new Date(dateend1).getTime();
            var x = setInterval(function() {

                // Get todays date and time
                var now = new Date().getTime();
                
                // Find the distance between now an the count down date
                var distance = countDownDate - now;
                
                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                
                // Output the result in an element with id="demo"
                
                
                // If the count down is over, write some text 
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("downtime-"+tkid).innerHTML = "Hết hạn";
                }else{
                    document.getElementById("downtime-"+tkid).innerHTML = days + "ngày " + hours + "giờ "
    + minutes + "phút " + seconds + "giây ";
                    if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("downtime-"+tkid).innerHTML = "Hết hạn";
                    }
                }
            }, 1000);
        });
    }

    group_agent_Socket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
    
        // Thong bao va load lai table home_agent khi co new ticket hoac co 1 agent nhan xu ly ticket
        setTimeout(function(){
            $('.tk_table').DataTable().ajax.reload();
        }, 2000);
        countdowntime();
    };
</script>
{% block js %}
    {% endblock %}
</body>
</html>