{% extends 'agent/base_leader.html' %}
{% block title %} Dashboard {% endblock %}
{% load staticfiles %}
{% block content %}
    <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Quản lý yêu cầu</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Quản lý yêu cầu</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <div class="container-fluid">
                <!-- Start Page Content -->
            <!-- Container fluid  -->
                {% csrf_token %}
            <div class="container-fluid" id="tbody">
                <!-- Start Page Content -->
                {% for key,value in tickets.items %}
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-title">
                                Chủ đề {{ key }}
                            </div>
                            <div class="card-body tk_div" id="tabdiv_{{ forloop.counter }}">
                                <table style="width:100%;"  class="display nowrap table table-hover table-striped table-bordered tk_table" id="list_ticket_leader__{{ key }}">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tiêu đề</th>
                                            <th>Chủ đề</th>
                                            <th>Trạng thái</th>
                                            <th>Ưu tiên</th>
                                            <th>Thời gian xử lý</th>
                                            <th>Người gửi</th>
                                            <th>Người xử lý</th>
                                            <th>Ngày hết hạn</th>
                                            <th>Tùy chọn</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                    {% for tk in value %}
                    <div class="modal" id="{{tk.id}}content" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                        <h4 class="modal-title">Yêu cầu số {{tk.id}}</h4>
                                    </div>
                                    <div class="modal-body form-group ct" id="ct{{tk.id}}">
                                        <b>Người gửi:</b>
                                        <p>{{tk.sender.fullname}}</p>
                                        <b>Tiêu đề:</b>
                                        <p>{{tk.title}}</p>
                                        <b>Chủ đề:</b>
                                        <p>{{tk.topicid.name}}</p>
                                        <b>Nội dung:</b>
                                        <p>{{tk.content}}</p>
                                        <b>Ngày gửi:</b>
                                        <p>{{ tk.datestart}}</p>
                                        <b>Ngày hêt hạn:</b>
                                        <p id="dateend{{tk.id}}">{{tk.dateend}}</p>
                                        {% if tk.attach != '' %}
                                        <b>Đính kèm:</b><br>
                                        <img src="/media/{{tk.attach}}" alt="none" style="max-width:80%;max-height:600px;display: block;margin-left: auto;margin-right: auto;">
                                        {% endif %}
                                        <b>Ghi chú:</b><br>
                                        <p>{{tk.note}}</p>
                                    </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    {% endfor%}

                {% endfor %}
                <div id="forward_modal" class="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Danh sách nhân viên xử lý</h3>
                            </div>
                            <div class="modal-body form-group">
                                {% for tp in topic %}
                                    <div class="tpic" style="display:none;">
                                        {% for key,value in list_ag.items %}
                                            {% if key == tp.name %}
                                                <input type="hidden" value="{{tp.name}}">
                                                {% for va in value %}
                                                    <div id="{{ va.username }}">
                                                        <input class="inputText" type="checkbox" name="{{ va.username }}" > {{ va.username }} - {{va.fullname}} <br>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                <input type="hidden" name="ticketid" value="">
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-success forward_ticket">Chuyển tiếp</button>
                                <button type="button" class="btn btn-default closefd" data-dismiss="modal" id = "forward_ticket_close">Đóng</button>
                                <center class="loading" hidden><i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i></center>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="change_modal" class="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Chuyển chủ đề</h3>
                            </div>
                            <div class="modal-body form-group">
                                <select name="topic" class="form-control" id="mySelect">
                                     {% for tp in topic_all %}
                                        <option value="{{tp.id}}" name="{{tp.name}}">{{tp.name}} - {{tp.description}}</option>
                                     {% endfor %}
                                 </select>
                                <input type="hidden" name="ticketid" value="">
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-success change_topic">Chuyển</button>
                                <button type="button" class="btn btn-default closefd" data-dismiss="modal" id = "change_topic_close">Đóng</button>
                                <center class="loading" hidden><i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i></center>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>

             <!--End Container fluid  -->
             <!--footer -->
             <!--End footer -->
        </div>
    </div>
{% endblock %}
{% block js %}
    <!--<script src="{% static 'js/lib/datatables/datatables.min.js' %}"></script>-->
    <script src="{% static 'js/home_leader.js' %}"></script>
{% endblock %}