<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <title>
            Meditech
        </title>
        <link rel="stylesheet" href="{% static 'css/portal/main.css' %}" rel="stylesheet" type="text/css">

            <!-- <link href="{% static 'css/portal/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.11/dist/sweetalert2.all.min.js"></script>
        {% block css %}
        {% endblock %}
                <!-- <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script> -->
                    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
            <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->

    </head>
    <body>
        <div class="container-fluid">
            <div class="row header">
                <div class="row" id="pattern" style="background-color: #21a9e1;height: 60px">
                    <div class="col-md-2 col-sm-2 logo">
                        <div class="row">
                            <div class="col-md-2" >
                                <i class="fa fa-bars" id="nac"></i>
                            </div>
                            <div class="col-md-10">
                                <a href="{% url 'client:home' %}">
                                    <img src="{% static 'images/portal/img/MediTech.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div class="link">
                            <div class="lung">
                                Home
                                {% block here %}

                                {% endblock %}
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6"></div>
                    <div class="col-md-2 col-sm-2 login">
                        <div class="dropdown nav-item">
                            <a class="dropdown-toggle nav-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="lang-right">
                                <img class="dot" src="{% static 'images/avatar.png' %}">
                                </div>
                                <div class="lang-left">
                                    Hello, {{user.username}}
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" style="float:right; width:100%;">
                                <li><a href="{% url 'superadmin:profile' %}"><i class="ti-user"></i> Thông tin cá nhân</a></li>
                                <li><a href="{% url 'superadmin:logout' %}"><i class="fa fa-power-off"></i> Đăng xuất</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="animation">
                <div class="col-md-2" id="nac1">
                    <div class="nav-side-menu">
                        <div class="menu-list">
                            <ul class="menu-content collapse out" id="menu-content">
                                <li class="collapsed"><a href="{% url 'client:home' %}">

                                        <img alt="" src="{% static 'images/portal/img/Home.png' %}"> <b><font color="#337ab7" size="3">Home</font></b>
                                    </a>
                                </li>
                                <li class="collapsed" data-target="#products" data-toggle="collapse">
                                    <a href="#">
                                        <b>Billing</b>
                                        <span class="arrow">
                                            <i class="fa fa-chevron-right rotate">
                                            </i>
                                        </span>
                                    </a>
                                </li>
                                <ul class="sub-menu collapse" id="products">
                                    <li class="item-nav">
                                        <a href="{% url 'client:home' %}">
                                            <img alt="" src="{% static 'images/portal/img/Services.png' %}"/>
                                            Services
                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/Invoices.png' %}"/>
                                            Invoices
                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="{% url 'client:oders' %}">
                                            <img alt="" src="{% static 'images/portal/img/Orderservices.png' %}"/>
                                            Order Services
                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/Cart.png' %}"/>
                                            Cart
                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/Billinghistory.png' %}"/>
                                            Billing History
                                        </a>
                                    </li>
                                </ul>
                                <li class="collapsed" data-target="#service" data-toggle="collapse">
                                    <a href="#">
                                        <b>Cloud</b>
                                        <span class="arrow">
                                            <i class="fa fa-chevron-right rotate">
                                            </i>
                                        </span>
                                    </a>
                                </li>
                                <ul class="sub-menu collapse" id="service">
                                    <li class="item-nav">
                                        <a href="{% url 'client:instances' %}">
                                            <img alt="" src="{% static 'images/portal/img/Instances.png' %}">
                                                Instances

                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/Networks.png' %}">
                                                Networks

                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/Securitygruops.png' %}">
                                                Security Group

                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/FloatingIPs.png' %}">
                                                Floating IPs

                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/SSHkeys.png' %}">
                                                SSH Keys

                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/round-view_column-24px.png' %}">
                                                Volumes

                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/Myimages.png' %}">
                                                My Image

                                        </a>
                                    </li>
                                </ul>
                                <li class="collapsed" data-target="#new" data-toggle="collapse">
                                    <a href="#">
                                        <b>Domain</b>
                                        <span class="arrow">
                                            <i class="fa fa-chevron-right rotate">
                                            </i>
                                        </span>
                                    </a>
                                </li>
                                <ul class="sub-menu collapse" id="new">
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/Mydomains.png' %}">
                                                My domain

                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/Registerdomain.png' %}">
                                                Register domain

                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/Transferdomain.png' %}">
                                                Transfer domain

                                        </a>
                                    </li>
                                </ul>
                                <li class="collapsed" data-target="#ticket" data-toggle="collapse">
                                    <a href="#">
                                        <b>Ticket</b>
                                        <span class="arrow">
                                            <i class="fa fa-chevron-right rotate">
                                            </i>
                                        </span>
                                    </a>
                                </li>
                                <ul class="sub-menu collapse" id="ticket">
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/Tickets.png' %}">
                                                Tickets

                                        </a>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
                {% block content %}

                {% endblock %}
            </div>
            {% csrf_token %}
        </div>
        <div class="modal" id="snapshot">
            <div class="modal-dialog modal-lg">
                <div class="modal-content ">
                        <div class="modal-header">
                            <h4 class="modal-title">Create Snapshot</h4>
                        </div>
                        <div class="modal-body form-group">
                            <input type="hidden" value="" name="svip">
                            <input type="hidden" value="" name="project">
                            <label><b>Snapshot Name</b></label>
                            <input class="form-control" type="text" placeholder="Snapshot Name" name="snapshotname" required>

                            <div><font id="invalid-msg" color="red" size="5"></font></div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" value="OK" id="snapshot_submit" >Create</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="close_modal_snapshot">Close</button>
                        </div>
                </div>
            </div>
        </div>

        <div class="modal" id="sshkey">
            <div class="modal-dialog modal-sm">
                <div class="modal-content ">
                        <div class="modal-header">
                            <h4 class="modal-title">Create key pair</h4>
                        </div>
                        <div class="modal-body form-group">
                            <input type="hidden" value="" name="svip">
                            <input type="hidden" value="" name="project">
                            <label><b>Key pair name</b></label>
                            <input class="form-control" type="text" placeholder="key pair Name" name="sshkeyname" required>

                            <div><font id="invalid-msg" color="red" size="5"></font></div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" value="OK" id="sshkey_submit" >Create</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="close_modal_sshkey">Close</button>
                        </div>
                </div>
            </div>
        </div>

        <div class="modal" id="resetpass">
            <div class="modal-dialog modal-lg">
                <div class="modal-content ">
                        <div class="modal-header">
                            <h4 class="modal-title">Update the admin password</h4>
                        </div>
                        <div class="modal-body form-group">
                            <input type="hidden" value="" name="svip">
                            <input type="hidden" value="" name="project">
                            <label><b>New password</b></label>
                            <input class="form-control" type="password" placeholder="New password" name="resetpass" required>

                            <div><font id="invalid-msg" color="red" size="5"></font></div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" value="OK" id="resetpass_submit" >Create</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="close_modal_resetpass">Close</button>
                        </div>
                </div>
            </div>
        </div>

        <div class="modal" id="rebuild">
            <div class="modal-dialog modal-sm">
                <div class="modal-content ">
                        <div class="modal-header">
                            <h4 class="modal-title">Rebuild Instance</h4>
                        </div>
                        <div class="modal-body form-group">
                            <input type="hidden" value="" name="svip">
                            <input type="hidden" value="" name="project">
                            <label><b>Select image</b></label><br>
                                <select name="image" class="form-control" id="mySelect_image_rebuild">

                                </select>

                            <br>
                            <label><b>Disk partition</b></label>
                                <select name="mySelect_type" class="form-control" id="mySelect_type">
                                    <option value="AUTO">Auto</option>
                                    <option value="MANUAL">Manual</option>
                                </select>

                            <div><font id="invalid-msg" color="red" size="5"></font></div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" value="OK" id="rebuild_submit" >Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="close_modal_rebuild">Close</button>
                        </div>
                </div>
            </div>
        </div>
        <div class="modal" id="backup">
            <div class="modal-dialog modal-lg">
                <div class="modal-content ">
                        <div class="modal-header">
                            <h4 class="modal-title">Backup name</h4>
                        </div>
                        <div class="modal-body form-group">
                            <input type="hidden" value="" name="svip">
                            <input type="hidden" value="" name="project">
                            <label><b>Backup Name</b></label>
                            <input class="form-control" type="text" placeholder="Backup Name" name="backupname" required>
                            <br>
                            <label><b>Backup Type</b></label>
                            <select name="backup_type" class="form-control" id="mySelect_backup_type">
                                <option value="daily">Daily</option>
                                <option value="weekly">Weekly</option>
                                <option value="monthly">Monthly</option>
                            </select>
                            <br>

                            <label><b>Count</b></label>
                            <input type="number" name="rotation" min="1" max="50" required value="1" style="width: 60px">

                            <div><font id="invalid-msg" color="red" size="5"></font></div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" value="OK" id="backup_submit" >Create</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="close_modal_backup">Close</button>
                        </div>
                </div>
            </div>
        </div>
    </body>
</html>
<script src="{% static 'js/portal/main.js' %}" type="text/javascript">
</script>
<!-- <script src="{% static 'css/portal/bootstrap/dist/js/bootstrap.min.js' %}" type="text/javascript"></script> -->
<!--</script>-->
{% block js %}
{% endblock %}

<script>
    var userName = {{ username }};
    var opsSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/' + userName + '/');

    opsSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var network = data['network'];
        var sshkey = data['sshkey'];
        if (message[0] == 'image_list'){
            $('.image_select').find('label').remove();
            var i;
            for (i=1; i<message.length; i++){
                var element = `<label>
                                    <input type="radio" name="image" value="`+message[i]+`">
                                    <div class="all">
                                    <img src="{% static 'images/portal/img/CentOS_logo.png' %}" alt="">
                                    
                                    <span class="create_checkbox_line2">
                                        `+message[i]+`
                                    </span>
                                    </div>
                                </label>`;
                /*var element = '<option value="'+message[i]+'">'+message[i]+'</option>';*/
                $(".image_select").append(element);
            }

            $('#mySelect_image_rebuild').find('option').remove();
            var i;
            for (i=1; i<message.length; i++){
                var element = '<option value="'+message[i]+'">'+message[i]+'</option>';
                $("#mySelect_image_rebuild").append(element);
            }
        }

        if (sshkey){
            $('.sshkey_select').find('label').remove();
            var i;
            for (i=1; i<sshkey.length; i++){
                var element = `<label>
                                    <input type="radio" name="image" value="`+sshkey[i]+`">
                                    <div class="all">
                                    <img src="{% static 'images/portal/img/baseline-vpn_key-24px.png' %}" alt="">
                                    
                                    <span class="create_checkbox_line2">
                                        `+sshkey[i]+`
                                    </span>
                                    </div>
                                </label>`;
                /*var element = '<option value="'+message[i]+'">'+message[i]+'</option>';*/
                $(".sshkey_select").append(element);
            }
        }
        
        
        if (network){
            $('.flavor_select').find('label').remove();
            var i;
            for (i=0; i<network.length; i++){
                var conten = 'Ram: '+network[i][0]+'Mb - VCPUs: '+network[i][1]+' - Disk: '+network[i][2]+'Gb';
                var element = `<label>
                                        <input type="radio" name="image" value="`+network[i]+`">
                                        <div class="all flavor_">
                                        <img src="{% static 'images/portal/img/CentOS_logo.png' %}" alt="">
                                        <span class="create_checkbox_line2">
                                            `+network[i][0]+` MB memory
                                            <div class="deploylocationsoldoutmsg">
                                                `+network[i][1]+` vitrual CPUs
                                            </div>
                                            <div class="deploylocationsoldoutmsg">
                                                `+network[i][2]+` GB disk
                                            </div>
                                        </span>
                                        </div>
                                    </label>`
                /*var element = '<option value="'+network[i]+'">'+conten+'</option>';*/
                $(".flavor_select").append(element);
            }
            /*var flavor = document.getElementById("mySelect").value;
            var ram = flavor.split(',')[0];
            var vcpus = flavor.split(',')[1];
            var disk = flavor.split(',')[2];
            var count = $("body input[name=count]").val();
            var price_new = ((parseInt(ram)/1024) * 3 + parseInt(vcpus) * 2 + parseInt(disk) * 1) * parseInt(count);*/
            $("body input[name=price]").val(0);
        }


        $('body .flavor_').click(function(){
            var flavor = $(this).prev().val();
            var ram = flavor.split(',')[0];
            var vcpus = flavor.split(',')[1];
            var disk = flavor.split(',')[2];
            var count = $("body input[name=count]").val();
            var price_new = ((parseInt(ram)/1024) * 3 + parseInt(vcpus) * 2 + parseInt(disk) * 1) * parseInt(count);
            $("body input[name=price]").val(price_new);
        });
    };

    
</script>
