<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <title>
            Meditech
        </title>
        <link rel="stylesheet" href="{% static 'css/portal/main.css' %}" rel="stylesheet" type="text/css">
            <!-- <link href="{% static 'css/portal/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
                <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
                    <!-- <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script> -->
                    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
            {% comment %} <link rel="stylesheet" href="static 'css/portal/addinstances.css'" type="text/css"> {% endcomment %}
            <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    </head>
    <body>
        <div class="container-fluid">
            <div class="row header">
                <div class="col-md-12" id="pattern" style="background-color: #21a9e1;height: 50px">
                    <i class="fa fa-bars" id="nac">
                    </i>
                    <div class="col-md-2 col-sm-2 logo">
                        <img src="{% static 'images/portal/img/MediTech.png' %}">
                    </div>
                    <div class="col-md-2 col-sm-2 link">
                        Home
                        <i class="fa fa-chevron-right">
                        </i>
                        Instantces
                    </div>
                    <div class="col-md-5 col-sm-5 search">
                        <img alt="" src="{% static 'images/portal/img/timkiem.png' %}">
                            <input name="" placeholder="Search Instantces" type="text"/>
                        
                    </div>
                    <div class="col-md-3 col-sm-3 login">
                        <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-muted"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="dot">
                                </span></a>
                                <div class="dropdown-menu dropdown-menu-right animated zoomIn" style="font-size: 14px;">
                                    <ul class="dropdown-user">
                                        <li><a href="{% url 'superadmin:profile' %}"><i class="ti-user"></i> Thông tin cá nhân</a></li>
                                        <li><a href="{% url 'superadmin:logout' %}"><i class="fa fa-power-off"></i> Đăng xuất</a></li>
                                    </ul>
                                </div>
                        </div>
                    </div>

                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 home">
                    <div class="brand">
                        <img alt="" src="{% static 'images/portal/img/Home.png' %}">
                            Home
                        
                    </div>
                </div>
                <!-- <div class="col-md-10">
                    <div class="sort">
                        Show X Networks of X
                        <img alt="" src="img/Showing.png">
                            Name
                            <i class="fa fa-chevron-down">
                            </i>
                            <img alt="" src="img/Namesort.png">
                            
                        
                    </div>
                </div> -->
            </div>
            <div class="row web">
                <div class="col-md-2 menu">
                    <div class="nav-side-menu">
                        <div class="menu-list">
                            <ul class="menu-content collapse out" id="menu-content">
                                <li class="collapsed" data-target="#products" data-toggle="collapse">
                                    <a href="#">
                                        Billing
                                        <span class="arrow">
                                            <i class="fa fa-chevron-right rotate">
                                            </i>
                                        </span>
                                    </a>
                                </li>
                                <ul class="sub-menu collapse" id="products">
                                    <li class="item-nav">
                                        <a href="{% url 'client:home' %}">
                                            <img alt="" src="{% static 'images/portal/img/Services.png' %}"/>
                                            Services
                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/Invoices.png' %}"/>
                                            Invoices
                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="{% url 'client:oders' %}">
                                            <img alt="" src="{% static 'images/portal/img/Orderservices.png' %}"/>
                                            Order Services
                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/Cart.png' %}"/>
                                            Cart
                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/Billinghistory.png' %}"/>
                                            Billing History
                                        </a>
                                    </li>
                                </ul>
                                <li class="collapsed" data-target="#service" data-toggle="collapse">
                                    <a href="#">
                                        Cloud
                                        <span class="arrow">
                                            <i class="fa fa-chevron-right rotate">
                                            </i>
                                        </span>
                                    </a>
                                </li>
                                <ul class="sub-menu collapse" id="service">
                                    <li class="item-nav">
                                        <a href="{% url 'client:instances' %}">
                                            <img alt="" src="{% static 'images/portal/img/Instances.png' %}">
                                                Instances
                                            
                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/Networks.png' %}">
                                                Networks
                                            
                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/Securitygruops.png' %}">
                                                Security Group
                                            
                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/FloatingIPs.png' %}">
                                                Floating IPs
                                            
                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/SSHkeys.png' %}">
                                                SSH Keys
                                            
                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/round-view_column-24px.png' %}">
                                                Volumes
                                            
                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/Myimages.png' %}">
                                                My Image
                                            
                                        </a>
                                    </li>
                                </ul>
                                <li class="collapsed" data-target="#new" data-toggle="collapse">
                                    <a href="#">
                                        Domain
                                        <span class="arrow">
                                            <i class="fa fa-chevron-right rotate">
                                            </i>
                                        </span>
                                    </a>
                                </li>
                                <ul class="sub-menu collapse" id="new">
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/Mydomains.png' %}">
                                                My domain
                                            
                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/Registerdomain.png' %}">
                                                Register domain
                                            
                                        </a>
                                    </li>
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/Transferdomain.png' %}">
                                                Transfer domain
                                            
                                        </a>
                                    </li>
                                </ul>
                                <li class="collapsed" data-target="#ticket" data-toggle="collapse">
                                    <a href="#">
                                        Ticket
                                        <span class="arrow">
                                            <i class="fa fa-chevron-right rotate">
                                            </i>
                                        </span>
                                    </a>
                                </li>
                                <ul class="sub-menu collapse" id="ticket">
                                    <li class="item-nav">
                                        <a href="#">
                                            <img alt="" src="{% static 'images/portal/img/Tickets.png' %}">
                                                Tickets
                                            
                                        </a>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
                {% csrf_token %}
                {% block content %}
                {% endblock %}


                <!-- <div class="modal" id="id02">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content ">
                                <div class="modal-header">
                                    <h4 class="modal-title">Create VMs</h4>
                                </div>
                                <div class="modal-body form-group">
                                    <input type="hidden" value="" name="svip">
                                    <input type="hidden" value="" name="project">
                                    <label><b>Instance Name</b></label>
                                    <input class="form-control" type="text" placeholder="Instance Name" name="svname" required>
                                    <br>
                                    <label><b>Description</b></label>
                                    <input class="form-control" type="text" placeholder="Description" name="description" required>
                                    <br>
                                    <label><b>Select Image</b></label>
                                    <select name="image" class="form-control" id="mySelect_image">
                                        
                                    </select>
                                    <br>
                                    <label><b>Select Network</b></label>
                                    <select name="network" class="form-control" id="mySelect">
                                    </select>
                                    <br>
        
                                    <b> Ram </b><input class="price" type="number" name="ram" min="0" max="100" step="0.5" value="0.5" style="width: 60px" required>
                                    <b> Vcpus </b><input class="price" type="number" name="vcpus" min="0" max="100" required value="1" style="width: 60px">
                                    <b> Disk (Gb) </b><input class="price" type="number" name="disk" min="0" max="1000" step="5" value="20" style="width: 60px" required>
                                    <br>
                                    <br>
                                    
                                    <label><b>Instance Count</b></label>
                                    <input type="number" class="price" name="count" min="1" max="50" required value="1" style="width: 60px">

                                    <b>Price</b>
                                    <input type="text" name="price" style="width: 60px" disabled> USD/MONTH
                                    
                                    <div><font id="invalid-msg" color="red" size="5"></font></div>
        
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" value="OK" id="i_submit" >Create</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close_modal">Close</button>
                                </div>
                        </div>
                    </div>
                </div> -->

                <div class="modal" id="snapshot">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content ">
                                <div class="modal-header">
                                    <h4 class="modal-title">Create Snapshot</h4>
                                </div>
                                <div class="modal-body form-group">
                                    <input type="hidden" value="" name="svip">
                                    <input type="hidden" value="" name="project">
                                    <label><b>Snapshot Name</b></label>
                                    <input class="form-control" type="text" placeholder="Snapshot Name" name="snapshotname" required>
                            
                                    <div><font id="invalid-msg" color="red" size="5"></font></div>
        
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" value="OK" id="snapshot_submit" >Create</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close_modal_snapshot">Close</button>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="modal" id="backup">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content ">
                                <div class="modal-header">
                                    <h4 class="modal-title">Backup name</h4>
                                </div>
                                <div class="modal-body form-group">
                                    <input type="hidden" value="" name="svip">
                                    <input type="hidden" value="" name="project">
                                    <label><b>Backup Name</b></label>
                                    <input class="form-control" type="text" placeholder="Backup Name" name="backupname" required>
                                    <br>
                                    <label><b>Backup Type</b></label>
                                    <select name="backup_type" class="form-control" id="mySelect_backup_type">
                                        <option value="daily">Daily</option>
                                        <option value="weekly">Weekly</option>
                                        <option value="monthly">Monthly</option>
                                    </select>
                                    <br>

                                    <label><b>Count</b></label>
                                    <input type="number" name="rotation" min="1" max="50" required value="1" style="width: 60px">
                            
                                    <div><font id="invalid-msg" color="red" size="5"></font></div>
        
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" value="OK" id="backup_submit" >Create</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close_modal_backup">Close</button>
                                </div>
                        </div>
                    </div>
                </div> 

            </div>
        </div>
    </body>
</html>
<script src="{% static 'js/portal/main.js' %}" type="text/javascript">
</script>
<!-- <script src="{% static 'css/portal/bootstrap/dist/js/bootstrap.min.js' %}" type="text/javascript"></script> -->
</script>
<script>
    var userName = {{ username }};
    var opsSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/' + userName + '/');

    opsSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var network = data['network'];
        if (message[0] == 'image_list'){
            $('#mySelect_image').find('option').remove();
            var i;
            for (i=1; i<message.length; i++){
                var element = '<option value="'+message[i]+'">'+message[i]+'</option>';
                $("#mySelect_image").append(element);
            }
        }
        if (network){
            $('#mySelect').find('option').remove();
            var i;
            for (i=1; i<network.length; i++){
                var conten = 'Ram: '+network[i][0]+'Mb - VCPUs: '+network[i][1]+' - Disk: '+network[i][2]+'Gb';
                var element = '<option value="'+network[i]+'">'+conten+'</option>';
                $("#mySelect").append(element);
            }
        }
    };
</script>
