{% extends "client/base.html" %}
{% load staticfiles %}
{% block content %}
		{% if user.is_authenticated %}

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-title">
                            <h4>List your VMs</h4><br>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-title="192.168.40.146" data-project="{{user.username}}" data-target="#id02">
                                <i class="fa fa-plus"></i> Create VMs
                            </button>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="display nowrap table table-hover table-striped table-bordered list_vm_client" width="100%">
                                    <thead>
                                        <tr align="center">
                                            <th>Name</th>
                                            <th>IP Address</th>
                                            <th>Ram (MB)</th>
                                            <th>VCPUs</th>
                                            <th>Disk (GB)</th>
                                            <th>Status</th>
                                            <th>Time since created</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody align="center">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        

        <div class="row">
          <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <div class="year-calendar"></div>
                </div>
              </div>
          </div>

          <div class="col-lg-8">
                <div class="card">
                    <div class="card-title">
                        <h4>Lịch sử </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive m-t-40">
                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th width="10%">ID</th>
                                        <th width="35%">Tiêu đề</th>
                                        <th width="20%">Chủ đề</th>
                                        <th width="10%">Người gửi</th>
                                        <th width="10%">Trạng thái</th>
                                        <th width="15%">Ngày hết hạn</th>
                                    </tr>
                                </thead>

                                <tbody id="list_tk_h istory">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <iframe src="http://192.168.100.39:3000/d-solo/Y8OcbXKmz/vms?refresh=10s&orgId=1&panelId=3&from=1537504561847&to=1537506361847&var-uuid=04600fdc-3919-42dc-bf77-93feecddba7f&var-interface=fa%3A16%3A3e%3Ace%3A8c%3Ac0&var-disk=vda" width="450" height="200" frameborder="0"></iframe>
                <iframe src="http://192.168.100.39:3000/d-solo/Y8OcbXKmz/vms?refresh=10s&orgId=1&panelId=9&from=1537504696148&to=1537506496148&var-uuid=04600fdc-3919-42dc-bf77-93feecddba7f&var-interface=fa%3A16%3A3e%3Ace%3A8c%3Ac0&var-disk=vda" width="450" height="200" frameborder="0"></iframe>
          </div>

        </div>

		{% endif %}
{% endblock content %}

{% block js %}
    <script src="{% static 'js/client/home_client.js' %}"></script>
{% endblock %}