<div class="modal fade" id="id02" role="dialog" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <form method="POST" enctype="multipart/form-data" onsubmit="return validateSize()">
                <div class="modal-header">
                    <h4 class="modal-title">New ticket</h4>
                </div>
                 <div class="modal-body form-group">
                     {% csrf_token %}
                     <label for="title"><b>Title</b></label>
                     <input class="inputText form-control" type="text" placeholder="Title" name="title" >

                     <br /><label for="topic"><b>Topic</b></label><br />
                     <select name="topic" class="form-control" id="mySelect">
                         {% for tp in topic %}
                            <option value="{{tp.id}}" name="{{tp.name}}">{{tp.name}} - {{tp.description}}</option>
                         {% endfor %}
                     </select>
                     <br />
                     <label for="content"><b>Content</b></label><br /><br />
                     <input class="inputText form-control" type="text" placeholder="Content" name="content" >
                     <br />
                     <label for="attach"><b>Attach</b></label><br />
                     <input type="file" class="form-control" accept="image/*" name="attach" id="attach">
                     <div><font id="invalid-msg" color="red" size="5"></font></div>
                 </div>
                <div class="modal-footer">
                     <button type="submit" class="btn btn-primary" value="OK" id="i_submit" onsubmit="return validateSize()">Send</button>
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                 </div>
          </form>
        </div>
    </div>
</div>