{% extends 'user/base.html' %}
    {% load staticfiles %}
{% block title %}Home{% endblock %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Yêu cầu của bạn
      </h1>
      <ol class="breadcrumb">
        <li><a ><i class="fa fa-home"></i> Trang chủ</a></li>
        <li class="active">Yêu cầu</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        {% csrf_token %}
      <div class="row">
        <div class="col-xs-12">
            <div class="box">
            <div class="box-header">
                <h3 style="float:left ">Yêu cầu tự xử lý</h3>
                <button data-title="tu_xu_ly" style="float:right" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#id02">
                    <span class="glyphicon glyphicon-plus"></span> Tạo yêu cầu tự xử lý
                </button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table style="width:100%;" id="list_tk_tu_xu_ly" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Khách hàng</th>
                        <th>Dịch vụ</th>
                        <th>Loại sự cố</th>
                        <th>Nội dung</th>
                        <th>Thông số</th>
                        <th>Đính kèm</th>
                        <th>Ngày tạo</th>
                        <th>Hạn xử lý</th>
                        <th>Thời gian xử lý</th>
                        <th>Trạng thái</th>
                        <th>Tùy chọn</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>
            </div>
          </div>
            <div class="box">
            <div class="box-header">
                <h3 style="float:left;" >Yêu cầu gửi đi</h3>
                <button data-title="gui_di" style="float:right" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#id02">
                    <span class="glyphicon glyphicon-send"></span> Tạo yêu cầu gửi đi
                </button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table style="width:100%;" id="list_tk_gui_di" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Khách hàng</th>
                        <th>Dịch vụ</th>
                        <th>Loại sự cố</th>
                        <th>Nội dung</th>
                        <th>Thông số</th>
                        <th>Đính kèm</th>
                        <th>Ngày tạo</th>
                        <th>Hạn xử lý</th>
                        <th>Thời gian xử lý</th>
                        <th>Trạng thái</th>
                        <th>Người xử lý</th>
                        <th>Tùy chọn</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
        <div class="modal fade" id="id02" role="dialog" >
            <div class="modal-dialog modal-lg">
                <div class="modal-content ">
                    <form method="POST" enctype="multipart/form-data" onsubmit="return validateSize()">
                        <div class="modal-header">
                            <h4 class="modal-title">Yêu cầu gửi đi</h4>
                        </div>
                         <div class="modal-body form-group">
                             {% csrf_token %}
                             {% for key, value in form.error.items %}
                             {{value}}
                             {% endfor%}
                             <input type="hidden" name="kind">
                             <label>Tên khách hàng</label>
                             {{form.client}}
                             <br>
                             <label>Thông tin khách hàng</label>
                             {{form.info_client}}
                             <br>
                             <label>Loại sự cố</label>
                             {{form.loai_su_co}}
                             <br>
                             <label for="title"><b>Thông số kỹ thuật</b></label>
                             {{form.thong_so_kt}}
                             <br>

                             <label for="topic"><b>Dịch vụ</b></label>
                             <select name="service" class="form-control" id="mySelect">
                                 {% for key, value in group.items %}
                                    <optgroup label="{{key}}">
                                        {% for sv in service %}
                                        {% if key == sv.groupserviceid.name %}
                                            <option value="{{sv.name}}" name="{{service}}">{{sv.name}} - {{sv.description}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </optgroup>
                                 {% endfor %}
                            </select>
                             <br>
                             <label for="level"><b>Mức ưu tiên</b></label>
                             <select name="lv_priority" class="form-control" id="lv_select">
                                 <option value="0">Thấp</option>
                                 <option value="1">Trung bình</option>
                                 <option value="2">Cao</option>
                             </select>
                             <br>
                             <label for="content"><b>Nội dung</b></label>
                             {{form.content}}
                             <br>
                             <label for="attach"><b>Đính kèm</b></label><br />
                             <input type="file" class="form-control" accept="image/*" name="attach" id="attach">
                             <div><font id="invalid-msg" color="red" size="5"></font></div>

                         </div>
                        <div class="modal-footer">
                             <button type="submit" class="btn btn-primary" value="OK" id="i_submit" onsubmit="return validateSize()">Gửi</button>
                             <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                         </div>
                  </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="image" role="dialog">
            <div  class="modal-dialog modal-lg">
              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Ảnh đính kèm</h4>
                </div>
                <div class="modal-body" id="img">
                </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                 </div>
              </div>
            </div>
          </div>
        <div class="modal fade" id="content" role="dialog">
            <div  class="modal-dialog modal-lg">
              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Nội dung sự cố</h4>
                </div>
                <div class="modal-body" id="cnt">
                </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                 </div>
              </div>
            </div>
          </div>
    </section>
  </div>
{% endblock %}
{% block js%}
<script src="{% static 'js/user/home_user_tk.js' %}"></script>
{% endblock %}